:root {
  --text: var(--white);
  --light: var(--white);
  --dark: darkslategrey;
  --medium: darkslategrey;
  --accent: turquoise;
  --black: rgba(46, 49, 49, 1);
  --white: white;
  --padding: 2rem;
  --font-size: clamp(1rem, 2.5vw, 2rem);
}

html {
  height: 100%;
  background-color: var(--black);
}

body {
  height: 100%;
  margin:0;
  color: var(--text);
  font-family: system-ui, sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.3em;
} 

h1 {
  font-size: 2em;
}

p {
  line-height: 1.5;
  max-width: 60ch;
}

nav {
  margin-inline-start: auto;
}

footer {
  background-color: var(--medium);
  min-width: 100%;
  min-height: 25vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links> *  > a {
  color: var(--dark);
}

.center {
  align-items: center;
}

.flex {
  display: flex;
  gap: var(--padding);
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.two-col > * {
  flex-grow: 1;
  flex-basis: calc(( 20em - 60%) * 999);
}

.two-col > :nth-last-child(n+ 3),
.two-col > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}

.two-col img {
  min-width: 240px;
  max-width: 100%;
}

.container {
  width: 80vw; 
  min-width: 320px;
  padding: var(--padding) 0;
}


section, .section  {
  justify-content: space-evenly;
  margin-block-end: calc(var(--padding)*4);
}


.button {
  border-radius: var(--padding);
  border: 0.1em  solid var(--text);
  display: inline;
  padding: calc(var(--padding)/2);
  text-align: center;
}

.button:hover {
  border: 0.1em  solid var(--accent);
  color: var(--accent);
}

.cta {
  color: var(--dark);
  background-color: var(--accent);
  border: 0.1em  solid var(--accent);
}

.cta:hover {
  background-color: var(--text);
}

.cta a, .cta a:visited {
  color: var(--dark);
}



a {
  color: var(--dark);
  text-decoration:none;
}

a:visited {
  color: inherit;
}

.shadow {
  box-shadow: var(--shadow);
}

.shadow:hover {
  box-shadow: var(--shadow-deep);
}

.logo img {
  height: calc(var(--padding)*2);
}

.cards img {
  display: block;
  height: calc(var(--padding)*2);
  width: auto;
  max-width: calc(var(--padding)*2);
}

.card {
  text-align: center;
  min-width: 240px;
  gap: calc(var(--padding)*2);
}

.social img {
  width: calc(var(--font-size)*2);
  height: auto;
  min-width: initial;
}

.testimonials article {
  background-color: var(--medium);
}

.testimonials > * {
  flex-grow: 1;
  flex-basis: calc(( 20em - 45%) * 999);
}

.testimonials  > :nth-last-child(n+ 4),
.testimonials  > :nth-last-child(n+ 4) ~ * {
  flex-basis: 100%;
}


.testimonial {
  padding: 1em;
}

.testimonial img {
  height: 3em;
  width: auto;
  min-width: initial;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial footer {
  align-content: center;
  align-items: center;
}


