:root {
  --text: var(--white);
  --light: var(--white);
  --dark: darkslategrey;
  --medium: darkslateblue;
  --accent: turquoise;
  --black: rgba(46, 49, 49, 1);
  --white: white;
  --padding: 2rem;
  --font-size: calc(1rem + 0.5vw);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin:0;
  color: var(--text);
  font-family: system-ui;
  font-size: var(--font-size);
  letter-spacing: 0.3em;
} 

h1 {
  font-size: 2em;
}

p {
  line-height: 1.5;
  max-width: 60ch;
}

footer {
background-color: gainsboro;
min-width: 100%;
min-height: 25vh;
}

.wrapper {
  background-color: var(--black);
}

.links> *  > a {
color: var(--dark);
}

.center {
  display: grid;
  place-items: center;
}

.flex {
  display: flex;
  gap: var(--padding);
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.two-col > * {
  flex-grow: 1;
  flex-basis: calc(( 20em - 100%) * 999);
}

.two-col > :nth-last-child(n+ 3),
.two-col > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}

.two-col img {
  min-width: 240px;
  width: 100%;
}

.row-reverse {
  flex-direction: row-reverse;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}


.container {
  width: 80vw; 
  min-width: 320px;
  padding: var(--padding) 0;
}


section {
  justify-content: space-evenly;
  margin-block-end: calc(var(--padding)*4);
}

.button {
  border-radius: var(--padding);
  border: 0.1em  solid var(--text);
  display: inline;
  padding: calc(var(--padding)/2);
}

.button:hover {
  border: 0.1em  solid var(--accent);
  color: var(--accent);
}

.cta {
  color: var(--dark);
  background-color: var(--accent);
  border: 0.1em  solid var(--accent);
}

.cta:hover {
  background-color: var(--text);
}

.cta a, .cta a:visited {
  color: var(--dark);
}



a {
  color: var(--dark);
  text-decoration:none;
}

a:visited {
  color: inherit;
}

  .shadow {
	box-shadow: var(--shadow);
  }

.shadow:hover {
	box-shadow: var(--shadow-deep);
  }

.social img {
  height: calc(var(--padding)*1.5);
  width: auto;
  min-width: initial;
}



